.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subContainer > button {
  border-radius: 39px;
  background-color: #5236ff;
  padding: 25px 123px;
}
