.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(246, 120, 196, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid rgba(246, 120, 196, 0.5);

  input {
    width: 80%;
    padding: 10px 0;
    margin: 15px 0;
    border: 2px solid #fff;
    border-radius: 10px;
  }

  button {
    width: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(246, 120, 196, 0.5);
    color: #fff;
  }
}
