.form {
  width: 400px;
  padding: 20px;
  border: 2px solid #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.337);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ffffff4d;
  box-shadow: 0 5px 7px #00000044;
  z-index: 20;
}

label {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
}

input,
textarea {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  width: 100%;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus,
textarea:focus {
  background-color: transparent;
}

.buttonSubmit {
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px auto 0;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: center;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
}

textarea {
  height: 200px;
  resize: none;
}

.buttonSubmit:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px auto 0;
  font-size: 18px;
  cursor: default;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: #ffffff !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  color: #ffffff;
  background-color: transparent;
}

h1 {
  color: #ffffff;
}
