.modalDetail {
  position: absolute;
  width: 20%;
  top: 30%;
  left: 39%;
  right: 2%;
  padding: 20px;
  margin-top: 50px;
  background-color: rgba(47, 79, 79, 0.8);
  border: 1px solid white;
  box-shadow: 0 5px 30px rgba(255, 255, 255);
  border-radius: 15px;
}

.buttonDetail {
  background-color: black;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}
