body {
	background-color: #1ffe03;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	overflow: hidden;
	position: relative;
}

.header {
	text-align: center;
	width: 100%;
	background-color: #191970;
}

h1,
span {
	color: #f0ffff;
}

h1 {
	font-size: 3em;
}

.container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px 3px #158383;
	margin-top: 10px;
}

.personajes {
	width: 100%;
	font-size: 2.5em;
	text-align: center;
	margin: 10px;
}

#characterChange {
	width: 95%;
	padding: 10px 20px;
	font-size: 1.5em;
	border-radius: 15px;
}

.imagen {
	height: 240px;
	margin: 30px;
}

.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

#characterName {
	display: none;
}

.footer {
	width: 100%;
	padding: 10px;
	background-color: #191970;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	position: absolute;
	bottom: 2px;
}

.input {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	align-items: center;
}

#creator {
	margin: 10px;
	padding: 5px;
}

#setName {
	margin-left: 5px;
	padding: 0 30px;
	height: 30px;
}

span {
	font-size: 2em;
	margin: 5px 0;
	padding: 10px;
}
