.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subContainer > span {
  margin-bottom: 39px;
}

.subContainer > button {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 39px;
  background-color: #5236ff;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}
