img {
  border-radius: 10px;
  width: 200px;
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}
