body {
	background: linear-gradient(40deg, #000, #463d06);
	width: 100vw;
	color: #deb887;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	font-size: 10px;
}

main {
	width: 60%;
}

h1,
h2,
p {
	text-align: center;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
	margin: 10px;
}

p {
	font-size: 2em;
}

section {
	width: 100%;
}

.tecnologies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 150px;
	border-radius: 25px;
	filter: grayscale(100%);
	margin: 20px;
	transition: transform 1s ease-in-out;
}

img:hover {
	filter: none;
	transform: scale(1.2) translateY(-10px);
}

.tecnologies,
.activities {
	margin-top: 40px;
}

.activities {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	width: 80%;
	border: 2px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #8e8a8a26;
	border-radius: 20px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid #ffffff4d;
	box-shadow: 0 5px 7px #00000044;
	z-index: 20;
	padding: 30px 0;
}

.input-container {
	width: 80%;
	padding: 10px 15px;
	background-color: #b5b3b630;
	margin: 5px 40px;
	border-radius: 10px;
}

label {
	font-size: 2em;
	display: block;
	text-align: center;
	padding: 5px;
}

input,
textarea {
	border: 1px solid #e8d0d0;
	width: 90%;
	outline: none;
	border-radius: 20px;
	background-color: transparent;
	color: #deb887;
	padding: 5px;
}

textarea {
	border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
	color: #deb887;
}

input::placeholder:focus,
text::placeholder:focus {
	background-color: transparent;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #0b0b2c inset !important;
	-webkit-text-fill-color: #deb887 !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px #0b0b2c inset !important;
	-webkit-text-fill-color: #deb887 !important;
	transition: background-color 5000s ease-in-out 0s;
}

input:focus::placeholder,
textarea:focus::placeholder {
	color: #deb887;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit {
	width: 90%;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 2em;
	box-shadow: 0 0 10px 2px #deb887;
}

/* 8.	Asignar al <div> la clase CSS que tengas implementada para darle estilos. */
#cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px; /* Espacio entre tarjetas */
}

.activityCard {
	border: 2px solid #deb887;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;
	background-color: #463d06;
	box-shadow: 0 5px 10px #0000004d;
	width: calc(33.33% - 20px); /* Tres columnas, restando el gap */
	box-sizing: border-box; /* Asegura que el padding y el border no agranden la tarjeta */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.activityTitle {
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #fff;
}

.activityDescription {
	font-size: 1.5em;
	margin-bottom: 15px;
	color: #deb887;
}

.activityImage {
	width: 80%;
	border-radius: 10px;
	max-width: 300px;
	margin-top: 15px;
}
