.container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  a {
    font-family: audiowide;
    text-decoration: none;
    padding: 2px 10px;
    color: #a99cb9;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  span {
    border-radius: 10px;
  }

  span:hover a:hover {
    color: black;
    background-color: white;
  }
}
