.container {
  background-color: rgba(66, 2, 175, 0.5);
  color: #ffffff;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border: 2px solid #ffffff;

  img {
    width: 50vw;
    margin: auto;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #f0ffff;
  }

  .subjectInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  p,
  h2 {
    margin: 0;
    padding: 5px 0;
  }
}
