/* CSS LEGACY */

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(45deg, #464545 20%, #333 80%);
  color: #f0ffff;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
}
