body {
	font-family: sans-serif;
	color: #f0ffff;
	width: 100dvw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
}

/* Navbar */
.header {
	width: 100%;
}

.header__nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #daa520;
	border-radius: 20px;
	padding: 5px;
}

.header__nav-logo {
	width: 150px;
	padding-top: 10px;
}

.header__navbar-ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.header__navbar-link {
	text-decoration: none;
	padding: 2px 10px;
	color: #f0ffff;
	font-size: 1.5em;
	font-weight: 600;
}

.header__navbar-item {
	margin: 3px;
	border-radius: 2px;
	padding: 2px 5px;
}

.header__navbar-item:hover {
	box-shadow: 0 0 15px 5px #f0ffff;
	transition: 1.5s;
}

/* Título y Cards */
.main {
	width: 80%;
	margin-top: 15px;
}

p,
h1,
h2 {
	background-color: transparent;
}

h1 {
	text-align: center;
	font-size: 3em;
}

#cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px; /* Espacio entre tarjetas */
}

.movieCard {
	border: 2px solid #f0ffff;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;
	background-color: #143bc7;
	box-shadow: 0 0 10px 2px #f0ffff;
	width: calc(33.33% - 20px); /* Tres columnas, restando el gap */
	box-sizing: border-box; /* Asegura que el padding y el border no agranden la tarjeta */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 300px; /* Establece un ancho mínimo para cada tarjeta */
}

.movieTitle {
	font-size: 2em;
	margin-bottom: 10px;
	color: #f0ffff;
	text-align: center;
}

p {
	font-size: 1.5em;
	color: #f0ffff;
	padding: 0;
	margin: 2px 0;
	text-align: center;
}

h2 {
	font-size: 2em;
	color: #f0ffff;
}

.moviePoster {
	width: 100%;
	height: 400px;
	border-radius: 10px;
	max-width: 300px;
	margin-top: 15px;
}
