body {
  font-family: sans-serif;
  color: #f0ffff;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  background-color: #333;
}

/* Navbar */
.header {
  width: 100%;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #daa520;
  border-radius: 20px;
  padding: 5px;
}

.header__nav-logo {
  width: 150px;
  padding-top: 10px;
}

.header__navbar-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header__navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2px 10px;
  color: #f0ffff;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.header__navbar-item {
  margin: 3px;
  border-radius: 2px;
  padding: 2px 5px;
}

.header__navbar-item:hover {
  box-shadow: 0 0 15px 5px #f0ffff;
  transition: 1.5s;
}

/* Título y Cards */
.main {
  width: 80%;
  margin-top: 15px;
}

p,
h1,
h2 {
  background-color: transparent;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; /* Espacio entre tarjetas */
}

.movieCard {
  border: 2px solid #f0ffff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: #143bc7;
  box-shadow: 0 0 10px 2px #f0ffff;
  width: calc(33.33% - 50px); /* Tres columnas, restando el gap */
  box-sizing: border-box; /* Asegura que el padding y el border no agranden la tarjeta */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 300px; /* Establece un ancho mínimo para cada tarjeta */
}

.movieTitle {
  font-size: 2em;
  margin-bottom: 10px;
  color: #f0ffff;
  text-align: center;
}

p {
  font-size: 1.5em;
  color: #f0ffff;
  padding: 0;
  margin: 2px 0;
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #f0ffff;
}

.moviePoster {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  max-width: 300px;
  margin-top: 15px;
}

/* Historia del Cine*/
.mainTitle {
  margin-top: 25px;
}

.subtitle {
  font-size: 2.5em;
  padding: 15px;
}

.subSubTitle {
  font-size: 2em;
  padding: 10px;
  margin: 0;
}

.paragraph {
  font-size: 1.8em;
  padding: 10px;
  text-align: left;
}

.cabecera {
  width: 100%;
  height: 300px;
}

.images {
  width: 300px;
  margin: 10px auto;
  border-radius: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Proyecto */
.listaTecnologias,
.listaCaracteristicas {
  /*list-style-position: inside; permite trabajar la posición de la viñeta, inside o outside*/
  /*list-style-type: disc; define la forma de la viñeta, upper or lower roman, upper or lower latin, alfa*/
  /*list-style-image: ; permite usar una imagen como bullet */
  font-size: 1.5em;
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.listaTecnologias {
  padding-right: 15px;
  margin: 0;
  align-items: center;
}

.proyectoTecnologias {
  margin: 7px 20px;
  background-color: transparent;
  text-align: center;
}

/* Formato del Formulario de Carga de Películas*/

#movieForm {
  width: 600px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ffffff4d;
  box-shadow: 0 5px 7px #00000044;
  z-index: 20;
  background-color: #000000;
  padding: 20px;
  margin-top: 20px;
}

.form__title {
  margin-bottom: 30px;
}

.form__label {
  font-size: 15px;
}

.form__input {
  border: 1px solid #000000;
  width: 65%;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  color: #f0ffff;
  padding: 5px;
  box-shadow: 0 0 5px 2px #737375;
}

.form__input::placeholder {
  color: #f0ffff;
}
.form__input .form__input::placeholder:focus {
  background-color: transparent;
}

.form__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0b0b2c inset !important;
  -webkit-text-fill-color: #f0ffff !important;
}

.form__input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #0b0b2c inset !important;
  -webkit-text-fill-color: #f0ffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form__input:focus::placeholder {
  color: #f0ffff;
}

.form__button {
  background-color: #333;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 40px;
  font-size: 20px;
  border: none;
  color: #fff;
  margin: 10px 40px;
}
