.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #daa520;
  color: #000000;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.boton {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
