.card {
  max-width: 20rem;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin: 1rem; */
  margin-top: 1rem;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-text {
  color: #4b5563;
}

.card-tags {
  padding: 0 1.5rem 1.5rem;
}

.card-tag {
  display: inline-block;
  background-color: #edf2f7;
  color: #4a5568;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 0.999rem;
  margin-right: 0.5rem;
}
