#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 5px;
  margin: 15px;
  width: 100%;
}

button {
  background-color: transparente;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  margin: 10px;
}

input {
  margin: 10px;
  padding: 5px;
  border: 2px solid #fff;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

