#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(145, 58, 244);
  border: 1px solid rgb(145, 58, 244);
}

button {
  border-radius: 8px;
  background-color: #1a1a1a;
  margin: 50px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

